.login-view {
  width: 500px;
  margin: 150px auto;
  padding: 20px;
  border: 2px solid #cecece;

  background-color: #ffffff;

  .login-title {
    text-align: center;
    line-height: 3;
  }

  .input-inline {
    display: inline-block;

    input {
      margin-left: 10px;
      width: 240px;
    }
  }

  .form-group {
    text-align: center;
  }

  .button-bottom {
    margin-top: 20px;
    button {
      padding: 5px 40px;
    }
  }
}

.login-bg {
  background-color: #c4e9ec;
}