<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>积分兑换系统</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <!--<link ref="stylesheet" href="styles/bootstrap-theme.min.css">-->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/login.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">您正在使用 <strong>过时，且危险的</strong> 浏览器。为了保障您的信息安全，请下载使用最新浏览器。下载地址<a href="http://rj.baidu.com/soft/detail/14744.html" target="_blank">http://rj.baidu.com/soft/detail/14744.html</a></p>
    <![endif]-->
    
    <div id="app-start" class="container-fluid">
      <router-view></router-view>
    </div>

    <script id="staff-template" type="template">
      <div class="staff-view">
        <div class="staff-header">
          <div class="header-content">
            <h3 class="title">积分兑换系统</h3>
            <div class="staff-info-div">
              <table>
                <tr>
                  <td>张丹</td>
                  <td>市场部员工</td>
                  <td rowspan="2">10月末任务额定：100</td>
                  <td class="red-font">上期存款：1000</td>
                  <td class="red-font" rowspan="2">累计积分：122</td>
                  <td class="red-font" rowspan="2">已兑换积分：2000</td>
                  <td class="red-font" rowspan="2">剩余积分：4000</td>
                </tr>
                <tr>
                  <td>ID: 1232342</td>
                  <td></td>
                  <td class="red-font">本期存款：6000</td>
                </tr>
                <tr>
                </tr>
              </table>
            </div>

            <h4 class="login-off">退出登陆</h4>
          </div>
        </div>

        <div class="exchange-goods">
          <div class="exchange-title">
            <p><span class="glyphicon glyphicon-gift"></span><span class="font">兑换商品</span></p>
            <p v-on:click="showExchangeHistory()"><span class="glyphicon glyphicon-time"></span><span class="font">兑换记录</span></p>
          </div>
          <div class="exchange-list">
            <div class="goods-list">
              <ul>
                <li class="goods-item" v-for="itemGoods of goodsArray">
                  <img :src="itemGoods.imgUrl" />
                  <p class="title">{{itemGoods.title}}</p>
                  <p class="clearfix">
                    <button class="btn btn-success" v-on:click="exchange()">兑换</button>
                    <span class="goods-rank">兑换积分：{{itemGoods.rank}}</span>
                  </p>
                </li>


              </ul>
            </div>
            <div class="clearfix goods-pagination">
              <nav>
                <ul class="pagination">
                  <li><a href="javascript:;">&laquo;</a></li>
                  <li><a href="javascript:;">1</a></li>
                  <li><a href="javascript:;">2</a></li>
                  <li><a href="javascript:;">3</a></li>
                  <li><a href="javascript:;">4</a></li>
                  <li><a href="javascript:;">5</a></li>
                  <li><a href="javascript:;">&raquo;</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <div class="modal fade exchange-modal exchange-confirm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="exchang-content">
                <p class="title">
                  确定兑换
                </p>
                <p class="alert-content">将扣除积分400</p>
              </div>
              <div class="confirm-button clearfix">
                <button class="cancel" v-on:click="closeConfirm()">取消</button>
                <button class="sure" v-on:click="sureConfirm()">确定</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade exchange-modal exchange-ok" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="exchang-content">
                <p class="title">
                  兑换成功
                </p>
                <p class="alert-content">
                  <span>你已成功兑换，兑换商品洗衣机</span><br>
                  <span>兑换码：APP132</span>
                </p>
              </div>
              <div class="confirm-button clearfix">
                <button class="sure" v-on:click="closeConfirm()">确定</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade exchange-modal exchange-history" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="exchang-content">
                <p class="title">
                  兑换记录
                </p>
                <div class="alert-content">
                 <ul class="exchange-history-list">
                  <li><span class="name">商品名称</span><span class="rank">消耗积分</span></li>
                  <li><span class="name">洗衣机</span><span class="rank">500</span></li>
                  <li><span class="name">手机</span><span class="rank">600</span></li>
                   <li><span class="name">洗衣机</span><span class="rank">500</span></li>
                   <li><span class="name">手机</span><span class="rank">600</span></li>
                   <li><span class="name">洗衣机</span><span class="rank">500</span></li>
                   <li><span class="name">手机</span><span class="rank">600</span></li>
                   <li><span class="name">洗衣机</span><span class="rank">500</span></li>
                   <li><span class="name">手机</span><span class="rank">600</span></li>
                   <li><span class="name">洗衣机</span><span class="rank">500</span></li>
                   <li><span class="name">手机</span><span class="rank">600</span></li>
                   <li><span class="name">洗衣机</span><span class="rank">500</span></li>
                   <li><span class="name">手机</span><span class="rank">600</span></li>
                   <li><span class="name">洗衣机</span><span class="rank">500</span></li>
                   <li><span class="name">手机</span><span class="rank">600</span></li>
                 </ul>
                </div>
              </div>
              <div class="confirm-button clearfix">
                <button class="sure" v-on:click="closeConfirm()">确定</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="login-template" type="template" >
      <div class="login-view">
        <div class="login-form">
          <h3 class="login-title">积分兑换系统</h3>
          <div class="form-group">
            <label for="inputEmail3" class="label-inline control-label">账号：</label>
            <div class="input-inline">
              <input type="text" v-model="username " class="form-control" id="inputEmail3" placeholder="账号">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="label-inline control-label">密码：</label>
            <div class="input-inline">
              <input type="password" v-model="password" class="form-control" id="inputPassword3" placeholder="密码">
            </div>
          </div>
          <div class="form-group">
            <div class="button-bottom">
              <button type="submit" class="btn btn-primary" v-on:click="login()">登陆</button>
            </div>
          </div>

        </div>
      </div>
    </script>



    <!-- build:js scripts/vendor.js -->
    <script src="scripts/v/jquery.min.js"></script>
    <script src="scripts/v/vue.min.js"></script>
    <script src="scripts/v/vue.router.js"></script>
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="scripts/v/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/store/state.js"></script>
    <script src="scripts/data.js"></script>
    <script src="scripts/login.js"></script>
    <script src="scripts/staff.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
